@import url('http://fonts.cdnfonts.com/css/games');


:root{
  --custom-black : #252423;
  --custom-green : #18FF74;
  --custom-orange :#FF8D40;
  --custom-turquoise : #61C3FF;
  --custom-purple : #8453E3;
  --custom-pink : #FB89FB;
  --white-color :#FFFFFF;
  --custom-blue : #2979FF;
  --java-color : #3A75B0;
  --thymleaf-color: #005F0F;
  --php-color : #8892BF;
  --apache-color : #FAF7ED;
  --docker-color : #002C66;
  --matrix-green : #1A6F20;
  --turquoise-exp : #0DCAF0;
  --green-exp : #198754;
  --red-exp : #DC3545;
  --yellow-exp : #FFC107;
  --custom-bootstrap : #7430F9;
  --custom-html : #E14B25;
  --custom_css : #156FB3;
  --custom-java : #4D90B6;
  --green-thymlf : #005C0E;
  --blue-docker : #00AFDC;
  --blue-php : #878EB9;
  --yellow-tomcat : #CD9F1D;
  --blue-api : #3C47C6;
  --black-nebuleuse: #040100;
  }

*{
  font-family: 'Games', sans-serif;
}

html, body{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  /* background-color: var(--custom-black); */
}

body{
  background-color: var(--custom-black)  ;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  transition: all 200ms;
  will-change: background;
  min-width: 100%;
  min-height: 100vh;
}

#navbar{
  height: 100%;
  width: 100%;
  padding: 0.5%;
  margin: 0;
  display: grid;
  color: white;
  background-color: var(--custom-black) !important;
  grid-template-columns: repeat(6, 1fr);

}

#navbar li {
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  padding: 5%;
  list-style: none;
}

#navbar a{
  position: relative;
  top: 10%;
  text-decoration: none;
  color: white;
}

#a_propos:hover{
  transition: linear 1s;
  background-color: var(--custom-purple);
}

#skill:hover{
  transition: linear 1s;
  background-color: var(--custom-pink);
}

#experiences:hover{
  transition: linear 1s;
  background-color: var(--custom-turquoise);
}

#projet:hover{
  transition: linear 1s;
  background-color: var(--custom-orange);
}

/* ******************* page d'acceuil avec le letterize.js ********************** */

#welcome_page{
  background-color: var(--custom-black);
  color: var(--white-color);
  font-weight: 400;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-family: "Khula", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  letter-spacing: 6px;
  margin: 0;
  line-height: 1.2;

  position: absolute;
  top: 0px;
  /* background-color: var(--custom-black); */
  height: 100% ;
  width: 100% ;
}

span {
  display: inline-block;
}

#welcome_page div{
  position: relative;
}

.welcome_msg{
  text-align: center;
  color: var(--matrix-green);
  font-size: 1em;
}

#welcome_msg_blue{
  color: var(--custom-blue);
  text-decoration: none;
}

.message{
  position: relative;
  top: 45%;
  color: var(--white-color);
  font-size: 70px;
  text-align:  center;
}

/* ******************* section one *********************** */
#section_one{
  display: none;
  grid-template-columns: 1fr 1fr;
}

#left{
  width: 100%;
  height: 80vh;
}

#chevron{
  position: absolute;
  top: 0.5em;
  left: 2.5em;
}

#chevron {
  color: var(--custom-purple);
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

#triangle_bot_left_shape{
  position: absolute;
  left: -1000px;
  border-bottom: 80vh solid var(--custom-purple);
  border-right: 100vh solid transparent;
}

#right{
  width: 100%;
  height: 80vh;
  /* background-color: var(--custom-purple); */
  }

#right_desc_about_me{
  color: var(--bs-white);
  width: 34%;
  height: 80vh;
  position: absolute;
  left: 2000px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

#right_desc_about_me p{
  position: relative;
  right: 10%;
  font-size: 2em;
  /* color: white; */
}

/* ******************* section two ************************* */

#section_two{
  display: none;
  grid-template-columns: 1fr 1fr;
}

#left_skill{
  display: grid;
  width: 100%;
  height: 80vh;
}

#all_my_skills_left{
  color: var(--custom-pink);
  width: 90%;
  height: 80vh;
  position: relative;
  right: 10%;

  text-align: center;
  display: grid;
  grid-template-columns: 4fr 4fr;
  justify-content: center;
  align-items: center;

}

.ldBar.label-center{
  font-size: 60px;
}

#right_skill{
width: 100%;
height: 80vh;
}

#triangle_top_right_shape {

      position: absolute;
      left: 76.8%;
      border-top: 85vh solid var(--custom-pink);
      border-left: 80vh solid transparent;
    }

#right_desc_skill{

/  z-index: 1;
  position: absolute;
  bottom: 50%;
  left: 55%;
  font-size: 2em;

}


.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

.progress-value {
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  height: 30px;
  width: 0;
}

#prgr_html{
  animation: load_heighty 3s normal forwards;
  background: var(--custom-html);
}

#prgr_api{
  animation: load_sixtyFive 3s normal forwards;
  background: var(--blue-api);
}

#prgr_js{
  animation: load_sixtyFive 3s normal forwards;
  background: var(--yellow-exp);
}

#prgr_java{
  animation: load_heighty 3s normal forwards;
  background: var(--custom-java);
}

#prgr_thmlf{
  animation: load_seventyFive 3s normal forwards;
  background: var(--green-thymlf);
}

#prgr_docker{
  animation: load_fourtyFive 3s normal forwards;
  background: var(--blue-docker);
}

#prgr_sql{
  animation: load_sixtyFive 3s normal forwards;
  background: var(--blue-php);
}

#prgr_srv{
  animation: load_sixtyFive 3s normal forwards;
  background: var(--yellow-tomcat);
}

label{
  color: var(--custom-black);
  position: absolute;
  left: 20%;
  z-index: 99;
  font-size: 2em;
}

@keyframes load_sixty {
  0% { width: 0; }
  100% { width: 60%; }
}

@keyframes load_sixtyFive {
  0% { width: 0; }
  100% { width: 65%; }
}

@keyframes load_heighty {
  0% { width: 0; }
  100% { width: 80%; }
}

@keyframes load_seventyFive {
  0% { width: 0; }
  100% { width: 75%; }
}

@keyframes load_fourtyFive {
  0% { width: 0; }
  100% { width: 45%; }
}

@keyframes load_fifty {
  0% { width: 0; }
  100% { width: 50%; }
}

/* ************************* section_three ************************ */
#section_three{
  display: none;
  grid-column: 1fr;
  font-size: 2em;
  /* visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 3s, opacity 3s; */

}


#center{
  width: 100%;
  height: 80vh;
}

.horizontal-timeline{
  position: absolute;
  top: 35%;
  height: 30%;
  width: 99%;
}

.horizontal-timeline .items {
border-top: 3px solid #e9ecef;
}

.horizontal-timeline .items .items-list {
display: block;
position: relative;
text-align: center;
padding-top: 70px;
margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
content: "";
position: absolute;
height: 36px;
border-right: 2px dashed #dee2e6;
top: 0;
}

.horizontal-timeline .items .items-list .event-date {
position: absolute;
top: 36px;
left: 0;
right: 0;
width: 75px;
margin: 0 auto;
font-size: .9rem;
padding-top: 8px;
}

@media (min-width: 1140px) {
.horizontal-timeline .items .items-list {
display: inline-block;
width: 24%;
padding-top: 45px;
}

.horizontal-timeline .items .items-list .event-date {
top: -40px;
}

.text-muted{
  color: var(--custom-turquoise);

}


#modal_one_content{
  background-color: var(--custom-black);
  border: solid 5px var(--turquoise-exp);
}

#modal_one_header{
  background-color: var(--turquoise-exp);
  border: none;
}


#modal_two_content{
  background-color: var(--custom-black);
  border: solid 5px var(--green-exp);
}

#modal_two_header{
  background-color: var(--green-exp);
  border: none;
}


#modal_three_content{
  background-color: var(--custom-black);
  border: solid 5px var(--red-exp);
}

#modal_three_header{
  background-color: var(--red-exp);
  border: none;
}


#modal_four_content{
  background-color: var(--custom-black);
  border: solid 5px var(--yellow-exp);
}

#modal_four_header{
  background-color: var(--yellow-exp);
  border: none;
}

/* ************************* section_four ************************ */

#section_four{
  display: none;
  grid-template-columns: 1fr;
}

#content_four{
  position: relative;
  top: 40%;
}

.figure-caption{
  color: var(--bs-white);
}

img {
width: 180px;
height: 180px;

max-width: 180px;
max-height: 180px;
}


img:hover{
  background-color: var(--black-nebuleuse);
  width: 180px;
  height: 180px;
  min-width: 180px;
  max-height: 180px;
}


.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--custom-orange);
  --bs-popover-header-bg: var(--custom-orange);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}


/* .calque{
  position: relative;
  top: 99%;
  left: 20%;
  z-index: 1;
  background-color: var(--black-nebuleuse);
  opacity: 0.3;
  width: 180px;
  height: 180px;
  min-width: 180px;
  max-height: 180px;
} */


    /* ******************* footer ************************* */


#footer{
  background-color: var(--custom-black) ;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width:100%;

}
